
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="nav navbar-nav navbar-right">
        <b>Thanh Ha</b><br/>
        <a href="http://twitter.com/zxiiro"><i class="fa fa-twitter fa-border"></i></a>
        <a href="http://ca.linkedin.com/in/thanhha/"><i class="fa fa-linkedin fa-border"></i></a>
        <a href="http://github.com/zxiiro"><i class="fa fa-github fa-border"></i></a>
      </div>

      <br/>

      <ul class="nav nav-tabs">
        <li><a href="/index.html"><i class="fa fa-user icon-2x pull-left"></i>About</a></li>
        <li><a href="/blog"><i class="fa fa-comment icon-2x pull-left"></i> Blog</a></li>
        <li><a href="/presentations"><i class="fa fa-bullhorn icon-2x pull-left"></i> Presentations</a></li>
        <li><a href="/resume.html"><i class="fa fa-file-text icon-2x pull-left"></i> Resume</a></li>
      </ul>
    </div>
  </nav>
