
  <nav class="collapse navbar-collapse" role="navigation">
    <ul class="nav navbar-nav nav-tabs">
      <li><a href="/index.html">About</a></li>
      <li><a href="/blog"><i class="icon-comment icon-2x pull-left"></i> Blog</a></li>
      <li><a href="/resume.html"><i class="icon-file-text-alt icon-2x pull-left"></i> Resume</a></li>
    </ul>
    <p class="pull-right">
      Thanh Ha<br/>
      <a href="http://twitter.com/zxiiro"><i class="fa fa-twitter fa-border pull-right"></i></a>
      <a href="http://ca.linkedin.com/in/thanhha/"><i class="fa fa-linkedin fa-border pull-right"></i></a>
      <a href="http://github.com/zxiiro"><i class="fa fa-github fa-border pull-right"></i></a>
    </p>
  </nav>
