<hr>
<h2>Technical Skills</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12"><h3><strong>Operating Systems</strong></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Microsoft Windows 2000/2003/XP/Vista/7, Solaris 10, Linux
      Arch/Fedora/Gentoo/OpenSUSE/Ubuntu, Cisco IOS 12.4, OpenWRT,
      DD-WRT, TomatoUSB
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12"><h3><strong>Hardware</strong></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Cisco 2600/2800/3700 series Routers, Cisco 1200 series AP, Cisco
      2950/3560 series Switches, Juniper NetScreen, Colubris MSC-
      5200/5100/3200, Colubris MAP-330/320, Linksys WRT54G
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12"><h3><strong>Software</strong></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Solaris Zones, Wireshark, Apache, Oracle 10g/11g, VirtualBox,
      Maven/Tycho, Nexus, MySQL, BIND, Linux RAID, VMWare, ffmpeg,
      mencoder
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12"><h3><strong>Network Protocols</strong></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      CCNA/CCNP, LAN/WAN, TCP/IP, UDP, SIP, VoIP, G.711, G.729,
      802.1Q, LACP, MSTP, VLAN, DNS, DHCP, POP3, IMAP, SMTP, FTP,
      SSH, Telnet, VPN, ICMP, RIP, OSPF, BGP, EIGRP, WEP, WPA, MPLS,
      IPSec, GRE, SNMP
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12"><h3><strong>Programming</strong></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Git, Python, PyQt4, GStreamer, PHP, Drupal, JAVA, JXTA, C/C++, C#,
      ASP.NET, HTML, XHTML, CSS, Javascript, AJAX, DOM, XML, RegEx,
      PERL, Expect, Bash, AutoIT, SQL, SVN
    </div>
  </div>
</div>
