<div class="col-xs-12">
  <h5 style="border-top: 1px solid black; border-bottom: 1px solid black">Technical Skills</h5>

  <div class="col-xs-12">
    <h6><strong>Operating Systems</strong></h6>

    <small>
    Microsoft Windows 2000/2003/XP/Vista/7, Solaris 10, Linux
    (Arch, Fedora, Gentoo, OpenSUSE, Ubuntu), Cisco IOS 12.4, EdgeOS, OpenWRT,
    DD-WRT, TomatoUSB
    </small>
  </div>

  <div class="col-xs-12">
    <h6><strong>Hardware</strong></h6>

    <small>
    Cisco 2600/2800/3700 series Routers, Cisco 1200 series AP, Cisco
    2950/3560 series Switches, Juniper NetScreen, Colubris MSC-
    5200/5100/3200, Colubris MAP-330/320, Linksys WRT54G
    </small>
  </div>

  <div class="col-xs-12">
    <h6><strong>Software</strong></h6>

    <small>
    Solaris Zones, Wireshark, Apache, Oracle 10g/11g, VirtualBox,
    Maven/Tycho, Nexus, MySQL, BIND, Linux RAID, VMWare, ffmpeg,
    mencoder
    </small>
  </div>

  <div class="col-xs-12">
    <h6><strong>Network Protocols</strong></h6>

    <small>
    CCNA/CCNP, TCP/IP, UDP, SIP, VoIP,
    802.1Q, VLAN, DNS, DHCP, POP3, IMAP, SMTP, FTP,
    SSH, VPN, ICMP, RIP, OSPF, BGP, EIGRP, WEP, WPA, MPLS,
    IPSec, GRE, SNMP
    </small>
  </div>

  <div class="col-xs-12">
    <h6><strong>Programming</strong></h6>

    <small>
    Git, Python, PyQt4, GStreamer, PHP, Drupal, JAVA, C/C++,
    ASP.NET, HTML, CSS, Javascript, AJAX, DOM, XML, RegEx,
    PERL, Expect, Bash, SQL, SVN
    </small>
  </div>
</div>
