<hr>
<h2>Volunteer Experience</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8"><h3><strong>Free and Open Source Software Learning Centre</strong>, Ingres</h3></div>
    <div class="col-xs-12 col-md-4" align="right"><h3><span class="label label-default">Feb 2008 - Present</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Lead Developer for Freeseer video capture software written using Python,
      PyQt4, and GStreamer. Configured laptops to be used as recording stations
      for events. Filming open source conferences and events to post them on
      the FOSSLC website. Mentor students participating in programs such as
      GSoC, Fedora SoC, UCOSP for the Freeseer project.
    </div>
  </div>
</div>
