<br/>
<hr>
<h5>Professional Experience</h5>

<div class="container">
  <div class="row">
    <div class="col-xs-8"><h6><strong>Release Engineer</strong>, Eclipse Foundation</h6></div>
    <div class="col-xs-4" align="right"><h6><span class="label label-default">Feb 2012 - Present</span></h6></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <small>
      Help Eclipse projects with converting their builds from PDE to use the
      Common Build Infrastructure (CBI). Configured and maintained servers
      for the community including LTS projects and Nexus instance at the
      Foundation.
      </small>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8"><h6><strong>Junior Support Engineer</strong>, Nakina Systems</h6></div>
    <div class="col-xs-4" align="right"><h6><span class="label label-default">Nov 2009 - Feb 2012</span></h6></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <small>
      Provide product support to customers including Alcatel-Lucent, AT&T,
      Bell, Hitachi. Supporting customer cluster systems running Solaris 10,
      Oracle 10g, and Nakina DCI software. Create executable MOPs for
      customers to perform system upgrades and software tuning. Created
      scripts to automate product installs on internal lab systems. Run internal
      product verification on Nakina DCI software.
      </small>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8"><h6><strong>Technical Services Specialist</strong>, BOLDstreet Wireless</h6></div>
    <div class="col-xs-4" align="right"><h6><span class="label label-default">Jan 2007 - Dec 2007</span></h6></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <small>
      Monitored and managed over 1000 hotpots across Canada to provide high
      availability and meet SLA targets. Troubleshooted network issues with
      store employees, managers, as well as technicians on-site. Provided end-
      user technical support. Created a Windows batch script to automate
      configuration of Colubris Access Points for deployment. Pre-configured
      wireless access points and shipped equipment to technicians for
      installation. Tested various cellphones using UMA/SIP protocols to
      compare battery life, signal quality, call drops and hand-overs. Setup
      Trixbox for internal SIP testing.
      </small>
    </div>
  </div>
</div>
