<hr>
<h2>Professional Experience</h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h3><strong>Release Engineer</strong>, Eclipse Foundation</h3></div>
    <div class="col-xs-6 col-sm-6 col-md-4" align="right"><h3><span class="label label-default">Feb 2012 - Present</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-10">
      Help Eclipse projects with converting their builds from PDE to use the
      Common Build Infrastructure (CBI). Configured and maintained servers
      for the community including LTS projects and Nexus instance at the
      Foundation.
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h3><strong>Junior Support Engineer</strong>, Nakina Systems</h3></div>
    <div class="col-xs-6 col-sm-6 col-md-4" align="right"><h3><span class="label label-default">Nov 2009 - Feb 2012</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-10">
      Provide product support to customers including Alcatel-Lucent, AT&T,
      Bell, Hitachi. Supporting customer cluster systems running Solaris 10,
      Oracle 10g, and Nakina DCI software. Create executable MOPs for
      customers to perform system upgrades and software tuning. Created
      scripts to automate product installs on internal lab systems. Run internal
      product verification on Nakina DCI software.
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h3><strong>Drupal Administration</strong>, Conf-IRM</h3></div>
    <div class="col-xs-6 col-sm-6 col-md-4" align="right"><h3><span class="label label-default">Jun 2009 - Jun 2009</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-10">
      Installed, configured, and setup Drupal based on client's requirements.
      Provided basic training on how to use Drupal interface.
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h3><strong>PHP Web Developer</strong>, Ingres</h3></div>
    <div class="col-xs-6 col-sm-6 col-md-4" align="right"><h3><span class="label label-default">Sep 2008 - Dec 2008</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-10">
      Developed a website in Natural Resources Canada for storing and editing
      geochemical survey data into an Ingres based database.
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h3><strong>Technical Services Specialist</strong>, BOLDstreet Wireless</h3></div>
    <div class="col-xs-6 col-sm-6 col-md-4" align="right"><h3><span class="label label-default">Jan 2007 - Dec 2007</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8"><h3><strong>UMA/SIP Testing</strong>, BOLDstreet Wireless</h3></div>
    <div class="col-xs-6 col-sm-6 col-md-4" align="right"><h3><span class="label label-default">May 2008 - Aug 2008</span></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-10">
      Monitored and managed over 1000 hotpots across Canada to provide high
      availability and meet SLA targets. Troubleshooted network issues with
      store employees, managers, as well as technicians on-site. Provided end-
      user technical support. Created a Windows batch script to automate
      configuration of Colubris Access Points for deployment. Pre-configured
      wireless access points and shipped equipment to technicians for
      installation. Tested various cellphones using UMA/SIP protocols to
      compare battery life, signal quality, call drops and hand-overs. Setup
      Trixbox for internal SIP testing.
    </div>
  </div>
</div>
